<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Electro - HTML Ecommerce Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="css/slick.css" />
	<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<style>
		.dropdown {
			position: relative;
			display: inline-block;
		}

		.sign-in-link {
			color: #ffffff;
			font-weight: 500;
			text-decoration: none;
			transition: all 0.3s;
			font-size: 2rem;
		}

		.sign-in-link:hover {
			color: #2874f0;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: white;
			min-width: 180px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			z-index: 1000;
			right: 0;
			top: 100%;
			border: 1px solid #e0e0e0;
			padding: 8px 0;
		}

		.dropdown-content a {
			color: #333;
			padding: 10px 16px;
			text-decoration: none;
			display: block;
			font-size: 1.7rem;
			transition: all 0.2s;
		}

		.dropdown-content a:hover {
			background-color: #f5f5f5;
			color: #2874f0;
		}

		.dropdown:hover .dropdown-content {
			display: block;
			animation: fadeIn 0.2s ease-in-out;
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: translateY(-5px);
			}

			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
	</style>

</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row align-items-center">

					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="#" class="logo">
								<img src="./img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->
					<!-- NAVIGATION LINKS -->
					<div class="col-md-6 d-flex justify-content-center align-items-center gap-4 nav-links"
						style="padding: 20px;">
						<a href="/" class="nav-link-custom">HOME</a>
						<a href="/shop" class="nav-link-custom">PRODUCTS</a>
						<a href="#" class="nav-link-custom">ABOUT US</a>
						<a href="#" class="nav-link-custom">CONTACT US</a>
					</div>
					<!-- /NAVIGATION LINKS -->

					<!-- LOGIN/SIGNUP -->
					<div class="col-md-3 d-flex justify-content-end align-items-center gap-2" style="padding: 20px;">
						<% if(locals.user) { %>
							<div class="dropdown">
								<a href="#" class="sign-in-link d-flex align-items-center gap-2">
									<i class="fa fa-user-circle" style="font-size: 1.7rem;"></i>
									<span>
										<%= locals.user.firstName.toUpperCase() %>
											<%= locals.user.lastName.toUpperCase() %>
									</span>
								</a>
								<div class="dropdown-content">
									<a href="/userProfile"><i class="fa fa-user mr-2"></i> Profile</a>
									<a href="/logout"><i class="fa fa-sign-out mr-2"></i> Logout</a>
								</div>
							</div>
							<% } else { %>
								<a href="/login" class="btn btn-outline-light fw-bold px-4">LOGIN</a>
								<a href="/signup" class="btn btn-outline-light fw-bold px-4">SIGN UP</a>
								<% } %>
					</div>
					<!-- /LOGIN/SIGNUP -->

				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->
	 